:root {
    --link-color: #0000;
    --heading-font-family: "Roboto", sans-serif;
    --text-font-family:"Raleway", sans-serif;
}

ul {
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font-family);
}

* {
    font-family: var(--text-font-family);
}

a {
    text-decoration: none;
}

.all-solutions {
    color: #F4F4FD;
    text-align: center;
    background-color:#2E2F42;
    
}

.bottom-row {
    color: #F4F4FD;
    background-color: #2E2F42
}

.team-class {
    background-color: #f4f4fd;
}